In [2]:
import pandas as pd

In [10]:
#@title opening csv

# energy
energy_for_food   = pd.read_csv('Data/access-to-clean-fuels-and-technologies-for-cooking.csv') #+ %*100 of population
energy_access     = pd.read_csv('Data/share-of-the-population-with-access-to-electricity.csv') #+ %*100 of population
energy_use        = pd.read_csv('Data/per-capita-energy-use.csv') #+ kwt per capita

# health
child_mortality   = pd.read_csv('Data/child-mortality.csv') #- % of population
life_expectancy   = pd.read_csv('Data/life-expectancy.csv') #+ years
hunger            = pd.read_csv('Data/prevalence-of-undernourishment.csv') #- % of population
sanitation        = pd.read_csv('Data/share-of-population-with-improved-sanitation-faciltities.csv') #+ % of population
water             = pd.read_csv('Data/share-of-the-population-with-access-to-improved-drinking-water.csv') #+ % of population

# social
fertility_rate    = pd.read_csv('Data/children-born-per-woman.csv') #= per woman

# ecology
co2_emissions     = pd.read_csv('Data/co-emissions-per-capita.csv') #per capita

# education
literacy_rate     = pd.read_csv('Data/cross-country-literacy-rates.csv') #+ % of population, who can read/write
years_of_scooling = pd.read_csv('Data/mean-years-of-schooling-long-run.csv') #+ years

# economy
gdp_per_capita    = pd.read_csv('Data/maddison-data-gdp-per-capita-in-2011us.csv') #+ per capita
population        = pd.read_csv('Data/population-since-1800.csv') #+ population
poverty           = pd.read_csv('Data/share-of-population-in-extreme-poverty.csv') #- %*100 of population

In [11]:
countries = gdp_per_capita[['Entity','Code']].drop_duplicates().reset_index(drop=True)
countries.Code[countries.Entity == 'Former Sudan'] = 'SUD'
countries = countries.dropna()
countries.to_csv('Data/country_codes.csv')

In [12]:
#@title merging everything
dfs = [
# energy    
       energy_for_food,   #+ %*100 of population
       energy_access,     #+ %*100 of population
       energy_use,        #+ kwt per capita
       
# health       
       child_mortality,   #- % of population
       life_expectancy,   #+ years
      hunger,            #- % of population
      sanitation,        #+ % of population
      water,             #+ % of population
       #fertility_rate,    #= per woman

# # ecology
       co2_emissions,     #per capita

# # education
#        literacy_rate,     #+ % of population, who can read/write
        years_of_scooling,  #+ years

# # economy
        gdp_per_capita,    #+ per capita
       population,        #+ population
       #  poverty,           #- %*100 of population
       ]
negative_index = [3,5,7]
positive_index = list(set(range(len(dfs)))-set(negative_index))
dfs = [i[i['Year'] == 2016].drop(columns='Entity') for i in dfs]

df2 = dfs[1].copy()
for df in dfs[1:]:
    df2 = pd.merge(df2,df,on=['Year','Code',]).fillna(0)
df2.head()
# for i in dfs:
#         i['MYindex'] = i['Code']+'-'+i['Year'].astype(str)
#         i.drop(columns=['Year','Code'], inplace=True)
# dfs = [i.set_index(['MYindex']) for i in dfs]
# df  = dfs[0].join(dfs[1:], how='left').fillna(0)
# df  = dfs[0].join(dfs[1:], how='left', ).fillna(0)

,Code,Year,Access to electricity (% of population)_x,Access to electricity (% of population)_y,Primary energy consumption per capita (kWh/person),"Child mortality (Select Gapminder, v10) (2017)",Life expectancy,Prevalence of undernourishment (% of population),People using at least basic sanitation services (% of population),People using at least basic drinking water services (% of population),Annual CO2 emissions (per capita),"Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))",GDP per capita,417485-annotations,Population (historical estimates)
0,AFG,2016,97.699997,97.699997,973.857361,7.04,63.763,22.200001,44.201218,64.054886,0.1906,3.6,1929.0,0,34636212
1,ALB,2016,99.889999,99.889999,13159.583008,1.35,78.194,4.300000,98.107903,93.754875,1.5563,10.0,10342.0,0,2881064
2,DZA,2016,99.350250,99.350250,15215.155273,2.52,76.298,2.800000,86.605484,93.622780,3.6726,8.0,14331.0,0,40339328
3,AGO,2016,41.813129,41.813129,3701.192627,8.25,59.925,15.400000,48.627945,55.084278,1.0888,5.1,8453.0,0,29154742
4,ARG,2016,99.849579,99.849579,22793.072266,1.11,76.221,2.600000,95.417702,99.023857,4.3894,9.9,18875.0,0,43668236

In [13]:
df3 = df2.set_index(['Year','Code'])
df_neg = df3.iloc[:,negative_index].rank(ascending=False, method='max')
df_pos = df3.iloc[:,positive_index].rank(ascending=True, method='max')
df_fin = pd.concat([df_pos,df_neg],axis=1)
df_antirating = df_fin.reset_index()
df_antirating.head()

,Year,Code,Access to electricity (% of population)_x,Access to electricity (% of population)_y,Primary energy consumption per capita (kWh/person),Life expectancy,People using at least basic sanitation services (% of population),Annual CO2 emissions (per capita),"Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))",GDP per capita,417485-annotations,"Child mortality (Select Gapminder, v10) (2017)",Prevalence of undernourishment (% of population),People using at least basic drinking water services (% of population)
0,2016,AFG,56.0,56.0,10.0,24.0,25.0,11.0,11.0,15.0,142.0,18.0,17.0,129.0
1,2016,ALB,78.0,78.0,65.0,107.0,109.0,46.0,84.0,58.0,142.0,78.0,78.0,80.0
2,2016,DZA,65.0,65.0,69.0,92.0,64.0,79.0,58.0,79.0,142.0,54.0,90.0,83.0
3,2016,AGO,17.0,17.0,34.0,12.0,29.0,43.0,23.0,51.0,142.0,11.0,27.0,134.0
4,2016,ARG,76.0,76.0,89.0,90.0,84.0,85.0,82.0,93.0,142.0,86.0,91.0,45.0

In [14]:
#@title Синхронизирую ключи таблиц 

country_naming = {'DRC':                 'Democratic Republic of Congo',
                  'CAR':                 'Central African Republic',
                  'Sudan':               'Former Sudan',
                  'South Sudan':         'Former Sudan',
                  'Syria Cross border':  'Syria',
                  'Burkina Faso (RhPF)': 'Burkina Faso',
                  'Niger (RhPF)':        'Niger',}

donations = pd.read_csv('Data/data_merged_2006-2022.csv') 
donations = donations.replace({'CBPF Name': country_naming}) #названия отличаются между таблицами, поэтому переназвал
donations = donations[~donations['CBPF Name'].isin(['oPt','Somalia'])] #oPt органищация, Somalia нет данных
donations = donations.merge(countries,left_on='CBPF Name',right_on='Entity',how='left').drop(columns=['Entity'])
if donations.isna().any().any():
    print('WARNING! Есть NULL в столбцах: ', donations.columns[donations.isna().any()])
donations.head()

WARNING! Есть NULL в столбцах:  Index(['Local Curency'], dtype='object')

,Year,Donor Name,CBPF Name,Paid Amount,Pledged Amount,Total Contributions,Local Curency,Exchange Rate,Paid Amount (Local Currency),Pledged Amount (Local Currency),Total Contributions (Local Currency),Code
0,2006,Netherlands,Ethiopia,5012000.0,0.0,5012000.0,USD,1.00,5012000.00,0,5012000.00,ETH
1,2006,Norway,Ethiopia,1553277.0,0.0,1553277.0,USD,1.00,1553277.00,0,1553277.00,ETH
2,2006,Switzerland,Ethiopia,247934.0,0.0,247934.0,CHF,1.21,300000.14,0,300000.14,ETH
3,2006,United Kingdom,Ethiopia,8861284.0,0.0,8861284.0,GBP,0.56,5000000.20,0,5000000.20,ETH
4,2007,Netherlands,Ethiopia,3395940.0,0.0,3395940.0,USD,1.00,3395940.00,0,3395940.00,ETH

In [15]:
df_rating_donation = pd.merge(donations,df_antirating,on=['Year','Code'])
print(df_rating_donation.shape)
df_rating_donation.head()

(76, 24)

,Year,Donor Name,CBPF Name,Paid Amount,Pledged Amount,Total Contributions,Local Curency,Exchange Rate,Paid Amount (Local Currency),Pledged Amount (Local Currency),...,Primary energy consumption per capita (kWh/person),Life expectancy,People using at least basic sanitation services (% of population),Annual CO2 emissions (per capita),"Average Total Years of Schooling for Adult Population (Lee-Lee (2016), Barro-Lee (2018) and UNDP (2018))",GDP per capita,417485-annotations,"Child mortality (Select Gapminder, v10) (2017)",Prevalence of undernourishment (% of population),People using at least basic drinking water services (% of population)
0,2016,Australia,Afghanistan,5848785.38,0.0,5848785.38,AUD,1.31,7679455.0,0,...,10.0,24.0,25.0,11.0,11.0,15.0,142.0,18.0,17.0,129.0
1,2016,Denmark,Afghanistan,4291119.90,0.0,4291119.90,DKK,7.03,30153936.0,0,...,10.0,24.0,25.0,11.0,11.0,15.0,142.0,18.0,17.0,129.0
2,2016,Germany,Afghanistan,9066875.00,0.0,9066875.00,EUR,0.94,8479236.0,0,...,10.0,24.0,25.0,11.0,11.0,15.0,142.0,18.0,17.0,129.0
3,2016,Netherlands,Afghanistan,6810000.00,0.0,6810000.00,EUR,0.88,6013230.0,0,...,10.0,24.0,25.0,11.0,11.0,15.0,142.0,18.0,17.0,129.0
4,2016,Norway,Afghanistan,3571966.11,0.0,3571966.11,NOK,8.27,29539011.0,0,...,10.0,24.0,25.0,11.0,11.0,15.0,142.0,18.0,17.0,129.0

In [9]:
df_rating_donation.to_csv('Data/rating_donation_v0.csv')